td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
.mt-4
{
    text-align: center !important;
    background-color: lavender;
}
.btn-primary
{
    font-weight: bold;
    text-align: center !important;
    background-color:rgb(113, 48, 211);
    padding: 10px;
    border-radius: 15px;
}
.btn-primary:active 
{    
background-color:  rgb(224, 215, 226);;
}

input{
    text-align: center;
}
label{
    display: inline-block;
    text-align: left;
    width:140px
}
